@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


* {
    margin: 0;
    padding: 0;
    text-align: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    
}

nav ul li a {
    padding: 20px 30px;
    text-decoration: none;
    color: black;
    font-size: 19px;
    border-radius: 30px;
    transition: 0.6s;
    text-align: center;
}
.section {
    padding: 0 10rem 0 10rem;
}
body {
    background-color: lavenderblush;
}
h1, h2, h3 {
    font-family: 'Fredericka the Great', cursive, sans-serif;
    font-weight: lighter;
}
